// 
// *** all whitespace must be tabs "\t".
// *** One entry per line.
// ____________________SYNTAX_________________________
// <DOMAIN-REGEX>	<PATH-REGEX>	<CONTENT-TYPE-REGEX>	<ACTION>	<LOCATION-REGEX>	[<STRING>|inject-file:<FILE>]
// ...................................................
// ____________________ACTIONS________________________
// insert-before	<LOCATION-REGEX>	 	[<STRING>|file:<FILE>]
// insert-after     <LOCATION-REGEX>		[<STRING>|file:<FILE>]
// remove			<LOCATION-REGEX>
//
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.*	.*	text/html	insert-before	</head>	inject-file:formfill.js
